
{% comment %}
    default style sheets and scripts to be included by default in all projects
    each project can override USE_CDN in settings to use some remote sources
{% endcomment %}

{% load staticfiles %}

<!-- USE_CDN: {{ USE_CDN }} -->

{% block css %}
    {% if USE_CDN %}
        <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css' />
        <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap-rtl.min.css' />
        <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    {% else %}
        <link rel='stylesheet' href='{% static 'meyer_reset.css' %}' />
        <link rel='stylesheet' href='{% static 'bootstrap/dist/css/bootstrap.min.css' %}' />
        <link rel="stylesheet" href="{% static 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" media="all" />
        <link href='{% static 'font/bitter_stuff.woff' %}' rel='stylesheet' type='text/css'>
    {% endif %}
    <link rel="stylesheet" href="{% static 'bootstrap-star-rating/css/star-rating.min.css' %}" media="all" />
{% endblock css %}

{% block mu3_css %}
    <link rel='stylesheet' href='{% static 'mu3_style.css' %}' />
    <link rel='stylesheet' href='{% static 'reactable.css' %}' />
{% endblock mu3_css %}

{% block js %}
    {% if USE_CDN %}
        <script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js'></script>
        <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js'></script>
    {% else %}
        <script src='{% static 'jquery/dist/jquery.min.js' %}'></script> {# minor version difference with CDN #}
        <script src='{% static 'bootstrap/dist/js/bootstrap.min.js' %}'></script>
        <script src="{% static 'momentjs/min/moment.min.js' %}"></script>
        <script src="{% static 'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    {% endif %}
    <script src="{% static 'bootstrap-star-rating/js/star-rating.min.js' %}"></script>
{% endblock js %}

{% block mu3_js %}
    <script src='{% static 'mu3_script.js' %}'></script>
    <script src='{% static 'reactable.js' %}'></script>
{% endblock %}
