
{% load staticfiles %}


<!DOCTYPE html>
<html>{# possibly add lang='en' #}
	<head>
		<meta charset='utf-8'>
		<title>{% block title %}{{ title }} {{ TITLE_SEPARATOR }} Admin {{ TITLE_SEPARATOR }} {{ TITLE_BASE }}{% endblock title %}</title>
		<link rel='stylesheet' href='{% static 'meyer-reset.css' %}' />
		<link rel='stylesheet' href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' />
		<link rel='stylesheet' href='{% static 'aqua-style.css' %}' />
		<link rel='stylesheet' href='{% static 'admin/css/base.css' %}' />
		<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
		<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js'></script>
		<script src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
		<script src='{% static 'aqua-script.js' %}'></script>
		{% block header %}
		{% endblock header %}
	</head>
	<body class="admin">
		{% if not is_popup %}
			<div id='menu_bar'>
				{% include 'menu.html' %}
			</div>
		{% endif %}
		<div id='page'>
			<div id='content'>
			    {% block breadcrumbs %}
			    	<div class="breadcrumbs">
			    		<a href="{% url 'admin:index' %}">Home</a>
			    		{% if title %} &rsaquo; {{ title }}{% endif %}
			    	</div>
				{% endblock %}
		    	{% block pretitle %}{% endblock %}
		    	{% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
				{% block sidebar %}{% endblock %}
				{% block content %}
					{% block object-tools %}{% endblock %}
					<div style="float: right; max-width: 150px; background-color: red;">
			        	{{ content }}
			        </div>
				{% endblock content %}
				<br class="clear" />
			</div>
			{% if not is_popup %}
				<div id='footer'>
					{% include 'footer.html' %}
				</div>
			{% endif %}
		</div>
	</body>
</html>


