
{% extends BASE_TEMPLATE %}


{% block content %}
	
	<h1>Gratitute to ...</h1>
	
	<p>This website was made possible by material from various sources. Gratitude is due for making this project possible! These include, in any order:</p>
	
	<ul>
		<li>Python: the server-side language <a href="https://www.python.org/">python.org</a></li>
		<li>Django: the web development framewor k<a href="https://www.djangoproject.com/">djangoproject.com</a></li>
		<li>jQuery: client-side library for javascript <a href="http://jquery.com/">jquery.com</a></li>
		{# <li><a href=""></a></li> #}
	</ul>
	
{% endblock content %}


